{% extends "base.html" %}
{% block title %}Create Lobby{% endblock %}

{% block content %}

<div class="row justify-content-center">
<div class="col-md-6">

<div class="ff-card">
    <h2>CREATE MATCH</h2>

    <form method="POST" class="mt-4">

        <input class="form-control ff-input mb-3" 
               name="name" placeholder="Lobby Name" required>

        <select class="form-control ff-input mb-3" name="match_type">
            <option value="solo">Solo</option>
            <option value="duo">Duo</option>
            <option value="squad">Squad</option>
        </select>

        <input class="form-control ff-input mb-3" 
               type="number" name="entry_fee" placeholder="Entry Fee" required>

        <input class="form-control ff-input mb-3" 
               type="number" name="kill_reward" placeholder="Kill Reward" required>

        <input class="form-control ff-input mb-4" 
               type="number" name="total_slots" placeholder="Total Slots" required>

        <button class="ff-btn w-100">CREATE LOBBY</button>

    </form>
</div>

</div>
</div>

{% endblock %}
