{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="ff-card text-center">
            <h2>ENTER THE BATTLE</h2>
            <p class="text-muted">Login to continue</p>

            <form method="POST" action="/login" class="mt-4">

                <input class="form-control ff-input mb-3" 
                       type="email" name="email" placeholder="Email" required>

                <input class="form-control ff-input mb-4" 
                       type="password" name="password" placeholder="Password" required>

                <button class="ff-btn w-100">LOGIN</button>

            </form>
        </div>

    </div>
</div>

{% endblock %}
