{% extends "base.html" %}
{% block title %}Player Dashboard{% endblock %}

{% block content %}

<div class="ff-card text-center">
    <h2>PLAYER WALLET</h2>
    <p class="wallet-glow">₹ {{ balance }}</p>

    <div class="mt-4 d-flex justify-content-center gap-3 flex-wrap">
        <a href="/player/add-money/100"><button class="ff-btn">+ ₹100</button></a>
        <a href="/player/add-money/500"><button class="ff-btn">+ ₹500</button></a>
        <a href="/player/request-withdrawal"><button class="ff-btn-outline">Withdraw</button></a>
    </div>
</div>

<div class="ff-card text-center">
    <h2>GAME ACTIONS</h2>

    <div class="mt-3">
        <a href="/player/lobbies">
            <button class="ff-btn">JOIN LOBBIES</button>
        </a>
    </div>
</div>

{% endblock %}

