{% extends "base.html" %}
{% block title %}Lobbies{% endblock %}

{% block content %}

<h2 class="mb-4">AVAILABLE LOBBIES</h2>

<div class="row">
{% for lobby in lobbies %}
    <div class="col-md-4">

        <div class="ff-card lobby-card">
            <h4>{{ lobby.name }}</h4>

            <p class="text-muted">
                {{ lobby.match_type | upper }} MATCH
            </p>

            <p>Entry Fee: <b>₹{{ lobby.entry_fee }}</b></p>
            <p>Kill Reward: <b>₹{{ lobby.kill_reward }}/kill</b></p>
            <p>Slots: {{ lobby.filled_slots }} / {{ lobby.total_slots }}</p>

            <a href="/player/join-lobby/{{ lobby.id }}">
                <button class="ff-btn w-100 mt-2">JOIN MATCH</button>
            </a>
        </div>

    </div>
{% endfor %}
</div>

{% endblock %}
